name: "CI"

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
  schedule:
    # Always run at least once a month to regularly run the tests with
    # recent software versions.
    - cron: "0 0 1 * *"
  workflow_dispatch:

jobs:
  main:
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      
